<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">sweats are okay</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="#">advocacy</a></li>
        <li><a href="#">who's doin' it</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </nav>
  </div>
</div>